.button{
  height: 50px;
  width: 200px;
}
html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;

}
.logo{
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
}
.tagline{
  font-size: 25px;
  color: white;
}
.button{
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: springgreen;

}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  width: 550px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* chat page */

.member-area{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background: powderblue;
  color: black;
}
.user-info{
  background: purple;
  font-size: 1.5em;
  padding: 20px;
  border-bottom: solid 1px white;
}
.logout{
  float: right;
}
.member{
  padding: 10px;
  background: powderblue;
  border-bottom: solid 1px white;
  cursor: pointer;
}
.member:hover{
  background: white;
  color: blue;
}
.message-area{
  background-color: #D4E157;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}
.chat-info{
  background-color: #AED581;
  padding: 10px;

  color: black;
}
.member.active{
  font-weight: bold;
}
.messages{
  background: #D4E157;
  height: 70%;
  overflow: auto;

}
.message{
  background: #F48FB1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.message.by-user{
  background: white;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: white;
  padding: 20px;
}
.chat-messages{
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 10px;
  display: block;
  width: 100%;
}
